#coverimage {
    width:100%;
    height: 70vh;
    object-fit: cover;
    text-align: center;

}
#mainHeader {
    color: #313743;
    font-size: 4em;
    font-family: 'Georgia';
    font-weight: bold;
    text-align: center;
    background-color: #EDCBB3;
    border: 10px solid #C9C6C4;

}

#Column1 {
    background-color: #EDCBB3;
    border: 10px solid #C9C6C4;
    color: #313743;
    font-weight: bold;
    font-size:2em;
    text-align: center;
}

#Column2 {
    background-color: #EDCBB3;
    border: 10px solid #C9C6C4;
    color: #313743;
    font-weight: bold;
    font-size:2em;
    text-align: center;
}

#Column3 {
    background-color: #EDCBB3;
    border: 10px solid #C9C6C4;
    color: #313743;
    font-weight: bold;
    font-size:2em;
    text-align: center;

}